<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>All Posts Page</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Vd's Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/blog">Blog</a> 
                    {% if not user.is_authenticated %}
                        <a class="nav-item nav-link" href="/login">Login</a> 
                    {% endif %} 

                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="/create">Create Post</a>
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                        <a class="nav-item nav-link">Hey {{user}}!</a> 
                    {% endif %}
                </div>
            </div>
        </nav>
        <br><br><br>
        <div style="display: flex; flex-wrap: wrap;">

            {% for post in all_posts %}

            <div class="card" style="width: 18rem; margin:5px;">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by {{post.author}}</h6>
                    <p class="card-text">{{post.content|slice:"30"}}</p>
                    <a href="/blog/{{post.id}}" class="card-link">Read More</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</body>

</html>